
.searchbar{
    position: relative;
    margin-bottom: 10px;
}

input{
    height: 60px;
    width: 100%;
    padding-left: 10px;
    border-radius: 45px;
    border: 1px solid #e9e9e9;
    outline: none;
    font-size: 24px;
}

button{
    position: absolute;
    right: 0;
    top: 7px;
    border: none;
    height: 50px;
    width: 125px;
    border-radius: 45px;
    outline: none;
    text-align: center;
    font-size: 24px;
    color: #fff;
    font-weight: bold;
    background-color: #DB7600;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    padding-left: 30px;
  }
  ::-moz-placeholder { /* Firefox 19+ */
    padding-left: 30px;
  }
  :-ms-input-placeholder { /* IE 10+ */
    padding-left: 30px;
  }
  :-moz-placeholder { /* Firefox 18- */
    padding-left: 30px;
  }